[submodule "source/min-lib"]
	path = source/min-lib
	url = https://github.com/Cycling74/min-lib.git
[submodule "deps/bml-dsp"]
	path = deps/bml-dsp
	url = https://github.com/Brain-Music-Lab/bml-dsp.git
[submodule "source/min-api"]
	path = source/min-api
	url = https://github.com/Cycling74/min-api.git
[submodule "deps/liblsl"]
	path = deps/liblsl
	url = https://github.com/sccn/liblsl.git
